[submodule "Assets/Packages/TeamLabUnityFramework"]
	path = Assets/Packages/TeamLabUnityFramework
	url = https://github.com/team-lab/TeamLabUnityFramework.git
	branch = stable
[submodule "Assets/Packages/TeamLabUnityFrameworkDevelop"]
	path = Assets/Packages/TeamLabUnityFrameworkDevelop
	url = https://github.com/team-lab/TeamLabUnityFramework.git
	branch = develop
