[submodule "Assets/Packages/TeamLabUnityFramework"]
	path = Assets/Packages/TeamLabUnityFramework
	url = https://github.com/team-lab/TeamLabUnityFramework.git
	branch = stable
[submodule "Assets/Packages/TeamLabUnityFrameworkDevelop"]
	path = Assets/Packages/TeamLabUnityFrameworkDevelop
	url = https://github.com/team-lab/TeamLabUnityFramework.git
	branch = develop
[submodule "Assets/Packages/Osc"]
	path = Assets/Packages/Osc
	url = https://github.com/nobnak/unity-osc
	branch = master
[submodule "Gist"]
	path = Gist
	url = https://github.com/nobnak/Gist.git
	branch = master
